<footer class="special-footer  w3-content w3-padding-64 w3-text-black w3-xlarge" >
<%for(var i=1;i<=count;){%>
    <a class="w3-bar-item w3-button w3-padding-large w3-theme-d4" href='/view/<%=i%>'>
    <%=i%>
    </a>
<%i+=1;}%>

</footer>
<%include footer %>